* {
  margin: 0;
  padding: 0;
}

#allinOne {
  display: none;
  margin-bottom: 20px;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: aqua;
  margin: 20vh auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px 3px black;
}
div input {
  height: 25px;
  width: 300px;
  margin: 5px 0;
  border-radius: 10px;
  outline: none;
}
button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(58, 58, 234);
  color: wheat;
  margin-top: 10px;
}
