* {
  margin: 0;
  padding: 0;
}

#allinOne {
  display: none;
  margin-bottom: 20px;
}

#Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: aqua;
  margin: 20vh auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 3px 3px black;
}
#Form input {
  height: 25px;
  width: 250px;
  margin: 5px 0;
  border-radius: 10px;
  outline: none;
  padding: 0 8px;
}

#DragText {
  height: 19px;
  width: 190px;
  background-color: rgb(35, 43, 197);
  border: 1px solid burlywood;
  border-radius: 9px;
  font-size: 12px;
  padding: 6px 3px 0px 10px;
  color: rgb(255, 219, 240);
  text-align: center;
}

.droptarget {
  height: 18px;
  width: 100px;
  background-color: rgb(52, 52, 249);
  border: 1px solid burlywood;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  padding: 6px 3px 0px 10px;
  text-align: center;
  margin: 0 20px;
}

#DragText {
  margin: 5px 0;
}
button {
  width: 90px;
  height: 35px;
  background-color: navy;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}
#Form #DragD {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 10px 0;
}
